body {
  background-color: #e0f7fa;
  font-family: Sintony;
  padding-bottom: 3em;
}

button {
  cursor: pointer;
}

header {
  margin: 0 auto;
  padding: 1em;
  background-color: #00BCD4;
  height: 2.5em;
  box-shadow: 0px 5px 5px 0px #888888;
}

img {
  float: left;
  width: 3em;
  padding-left: 0.5em;
}

.user-dashboard-info {
  float: right;
  color: #e0f7fa;
}

.fa-search {
  padding-left: 1.2em;
  padding-top: 0.5em;
  font-size: 1.2em;
  color: #e0f7fa;
  padding-right: 0.5em;
}

.search-surveys {
  text-align: center;
  padding-right: 10em;
  height: 1.5em;
  border-radius: 15px;
}

.dashboard-content {
  margin-left: 10%;
  text-align: center;
  width: 80%;
  background-color: #FFFFFE;
  box-shadow: 0px 2px 2px 0px #888888;
}

.my-surveys-list, .take-surveys-list {
  margin-top: 3em;
  padding-bottom: 3em;
}

h2 {
  font-size: 1.5em;
  background-color: #B2EBF2;
  color: #00BCD4;
  height: 2em;
  box-shadow: 0px 2px 2px 0px #888888;
  padding-top: 1em;
}

ul {
  margin-top: 2em;
}
